@using Web_HW_People.Models;

@model Personage

<body>
	<h1>This is <b>Witcher</b> greatings:</h1>
	<p>Hello, my name is <b>@Model.FirstName</b> from <b>Rivvia</b>.
		I returned from hunting. 
		For ordering witcher servise write to <i>@Model.Email</i></p>
</body>

